script(src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous")
  script(src="./plugins/phone/js/data.js")
script(src="./plugins/phone/js/intlTelInput-jquery.min.js")
script(src="./plugins/phone/js/intlTelInput.min.js")
script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(src=jsPath + "header.js" defer)


if mainPage 
  script(src=jsPath + "main.js" defer)

if catalogOne
  script(src="./plugins/lightbox/js/lightbox.min.js")
  script(src=jsPath + "catalog-one.js" defer)
