script(src="https://code.jquery.com/jquery-3.7.0.min.js"
  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
  crossorigin="anonymous")
script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(src=jsPath + "header.js" defer)
script(src="https://unpkg.com/imask")
script(src="./plugins/phone/js/intlTelInput.min.js")


if mainPage 
  script(src=jsPath + "main.js" defer)

if catalogOne
  script(src="./plugins/lightbox/js/lightbox.min.js")
  script(src=jsPath + "catalog-one.js" defer)

if  isAbout 
  script(src="./plugins/lightbox/js/lightbox.min.js")
  script(src=jsPath + "about.js" defer)


if  isLaboratory
  script(src=jsPath + "laboratory.js" defer)

if isPartners 
  script(src=jsPath + "partners.js" defer)

if isComplex
  script(src=jsPath + "complex.js" defer)

if isDesign 
  script(src=jsPath + "design.js" defer)

if isUklad 
  script(src=jsPath + "uklad.js" defer)

if isGallery 
  script(src=jsPath + "gallery.js" defer)

if IsGalleryOne
  script(src="./plugins/lightbox/js/lightbox.js")
  script(src=jsPath + "gallery_one.js" defer)
